#final_compra{
    background-color: var(--cor-roxo-claro);
    
}

.div_final_compra{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    
}
.div_final_compra > i{
    margin: 10px;
}