#mainSection {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionContainer {
    &__main {
        background-color: var(--cor-azul-escuro);
        /* Cor de fundo cinza claro */
        border-radius: 10px;
        /* Raio de borda para bordas arredondadas */
        padding: 20px;
        width: auto;
    }

    &__h1 {
        font-size: var(--h1-font-size);
        font-weight: 600;
    }

    &__list {
        list-style-type: none;
        padding-top: 30px;
    }

    &__item p {
        font-size: var(--p-font-size);
        padding-top: 30px;
    }

    &__ul {
        display: table;
    }

    &__li {
        display: table-row;
    }

    &__litem {
        display: table-cell;
        padding-right: 50px;
    }

}

#product_img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.iconeCoracao {
    height: 40px;
    margin-left: 40px;
}

.relacionados {

    justify-content: center;
    display: flex;
    margin: 20px;
}

.card__show{
  margin: 35px;
}