<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/pi_laravel/public/assets/scss/main.css">
    <title>pagamento</title>
</head>

<body>


    <div class="divisoria">
        <!-- ====================================== tipos pagamentos ================================== -->
        <div class="container-pag">

            <div id="container2">
                <div class="select">
                    <label>
                        <label class="tipo-pag" for="">
                            <img src="/pi_laravel/public/assets/img/compra/logo-pix.png" alt="">
                            <p>pix</p>
                        </label>
                </div>

                <div class="select">
                    
                    <label class="tipo-pag">
                        <img src="/pi_laravel/public/assets/img/compra/mater.png" alt="">
                        <p>cartão credito</p>
                    </label>
                </div>

                <div class="select">
                    <label class="tipo-pag">
                        <img src="/pi_laravel/public/assets/img/compra/nubank-logo.png" alt="">
                        <p>nubank</p>
                    </label>
                </div>

                <div class="select">
                    <label class="tipo-pag">
                        <img src="/pi_laravel/public/assets/img/compra/paypal.png" alt="">
                        <p>paypal</p>
                    </label>
                </div>


                <div class="select">
                    <label class="tipo-pag">
                        <img src="/pi_laravel/public/assets/img/compra/boleto-logo.png" alt="">
                        <p>boleto bancario</p>
                    </label>
                </div>
            </div>

        </div>





        <!-- ========================================== jogo/continuar ================================ -->
        <div class="continuar-pag">

            <div class="jogo" >

               <p> 1x fortinite valor: 250,00 </p>
               <p> 1x minecraft valor: 99,99 </p> 
               <p> 1x resident evil valor: 300,00 </p> 
               <p> 1x  EA espots 24 valor: 179,99 </p> 
                
            </div>

            <p id="sub-total">total: 829,98</p>

            <div class="button">

                <button class="sass-btn" style="   height: 50px;
                width: 400px;
                margin: 50px; align-items: center; font-size: 20px;">
                    <p> compra </p>
                </button>
            </div>






        </div>







    </div>

    <!-- ========================================= FOOTER ========================================= -->


    <footer>
        <div id="footer_content">
            <span style="margin-left: 150px;">
                <img src="/pi_laravel/public/assets/img/43cf02eb-120a-417e-84c5-174bd52b128c-removebg-preview_1 (1).png"
                    alt="">
            </span>

            <ul class="footer-list">
                <li>
                    <h3>Sobre Nós</h3>
                </li>

                <li><a href="#" class="footer-link">Fale Conosco</a></li>
                <li><a href="#" class="footer-link">Sobre o Delta</a></li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Suporte</h3>
                </li>

                <li><a href="#" class="footer-link">Ajuda</a></li>
                <li><a href="#" class="footer-link">Perguntas Frequentes</a></li>
                <li><a href="#" class="footer-link">Política de Devolução</a></li>
            </ul>


            <ul class="footer-list">
                <li>
                    <h3>Nossas Redes</h3>
                </li>

                <li id="redes">
                    <a href="#" class="footer-link" id="instagram"><i class='bx bxl-instagram-alt'></i></a>
                    <a href="#" class="footer-link" id="facebook"><i class='bx bxl-discord'></i></a>
                    <a href="#" class="footer-link" id="whatsapp"><i class='bx bxl-whatsapp'></i></a>
                </li>
            </ul>

            <div id="footer_copyright">
                <div>
                    &#169
                    2023 all rights reserved
                </div>
            </div>
        </div>
    </footer>
</body>

</html>