<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--=============== ICONES ===============-->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <!--=============== BOOTSTRAP ===============-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  
  <!--=============== CSS ===============-->
  <link rel="stylesheet" href="/pi_laravel/public/assets/scss/main.css">

  <title>Login</title>
</head>

<body class="login-page">

  <!--teste comit-->

  
  <div id="home">
    <a href="/pi_laravel/public/assets/img/"><i class='bx bx-left-arrow-alt' style="color: white;"></i></a>
  </div>


  <div class="container">
    <div id="text_container">
      <div>
        <h1>Ola!</h1>
        <h1>Bem vindo de volta!</h1>
      </div>
    </div>

    <div id="login_container">
      <div id="login">
        <form action="">
          <h1>Login</h1>
          <div class="input-box">
            <i class='bx bxs-user-circle' style="color: rgb(209, 209, 209);"></i>
            <input type="text" placeholder="Email" required>
          </div>

          <div class="input-box">
            <input type="password" placeholder="Senha" required>
            <i class='bx bxs-lock-alt' style="color: rgb(209, 209, 209);"></i>
          </div>

          <div class="lembrar-conta">
            <label><input type="checkbox">Lembre de mim</label>
            <a href="#" style="color: #fe6448; text-decoration: none;">Esqueci a senha</a>
          </div>

          <button class="btn" type="submit">Login</button>
          <div class="register-link">
            <p style="color: rgb(209, 209, 209);">Não tem uma conta?</p>
            <a href="" style="color: #fe6448; text-decoration: none;">
              <p>Resgistrar-se</p>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>





  <footer>
    <div id="footer_content">
      <span style="margin-left: 150px;">
        <img src="/pi_laravel/public/assets/img/43cf02eb-120a-417e-84c5-174bd52b128c-removebg-preview_1 (1).png" alt="">
      </span>

      <ul class="footer-list">
        <li>
          <h3>Sobre Nós</h3>
        </li>

        <li><a href="#" class="footer-link">Fale Conosco</a></li>
        <li><a href="#" class="footer-link">Sobre o Delta</a></li>
      </ul>

      <ul class="footer-list">
        <li>
          <h3>Suporte</h3>
        </li>

        <li><a href="#" class="footer-link">Ajuda</a></li>
        <li><a href="#" class="footer-link">Perguntas Frequentes</a></li>
        <li><a href="#" class="footer-link">Política de Devolução</a></li>
      </ul>


      <ul class="footer-list">
        <li>
          <h3>Nossas Redes</h3>
        </li>

        <li id="redes">
          <a href="#" class="footer-link" id="instagram"><i class='bx bxl-instagram-alt'></i></a>
          <a href="#" class="footer-link" id="facebook"><i class='bx bxl-discord'></i></a>
          <a href="#" class="footer-link" id="whatsapp"><i class='bx bxl-whatsapp'></i></a>
        </li>
      </ul>

      <div id="footer_copyright">
        <div>
          &#169
          2023 all rights reserved
        </div>
      </div>
  </footer>





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>