<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== BOOTSTRAP ===============-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css">

    <!--=============== ICONES ===============-->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/pi_laravel/public/assets/scss/main.css">

    <title>Home</title>
</head>

<body>

    <!--header-->

    <!-- ========================================= PRINCIPAL NAVBAR ========================================= -->
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #392ca4;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <img src="/pi_laravel/public/assets/img/43cf02eb-120a-417e-84c5-174bd52b128c-removebg-preview_1 (1).png"
                        class="navbar-brand">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="" aria-label="Search"">
                        <button class=" btn text-white" type="submit"><span
                            class="material-symbols-outlined">search</span></button>
                    </form>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"><span
                                    class="material-symbols-outlined">Home</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#"><span
                                    class="material-symbols-outlined">shopping_cart</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#" aria-disabled="true"><span
                                    class="material-symbols-outlined">favorite</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="login.html" aria-disabled="true"><span
                                    class="material-symbols-outlined">person</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



        <!-- ========================================= DROPDOWN NAVBAR ========================================= -->



        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #241b6c;">
            <div class="container-fluid">
                <div id="nav2" class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav mb-2 mb-lg-0">

                        <li class="nav-item dropdown itens_2">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                XBOX
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Veja todas as ofertas aqui</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Todos os jogos de XBOX</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown itens_2">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                PLAYSTATION
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Veja todas as ofertas aqui</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Todos os jogos de PLAYSTATION</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown itens_2">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                SWITCH
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Veja todas as ofertas aqui</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Todos os jogos de SWITCH</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown itens_2">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                PC
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Veja todas as ofertas aqui</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Todos os jogos de PC</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown itens_2">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                JOGOS
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Veja todas as ofertas aqui</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown itens_2">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                GIFT CARD
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Veja todas as ofertas aqui</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    
    <section class="container">
        <div class="h2">
            <h2 style="font-size: 30px; padding-top: 50px; padding-left: 45px;">Com base na sua escolha</h2>
        </div>
        <div class="container" style="padding-top: 100px; padding-bottom: 100px;"> 
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 card__content card__content__1">
                <div class="col">
                    <article class="card__article">
                        <div class="card__image">
                            <img src="/pi_laravel/public/assets/img/Y02ljdBodKFBiziorYgqftLE.webp" alt="image" class="card__img">
                        </div>

                        <div class="card__data">
                            <h3 class="card__name">The last of us 2</h3>
                            <p class="card__description"> Por apenas: </p>
                            <p class="card__description card__preco"> 100 R$</p>

                        </div>
                    </article>
                </div>
                <div class="col">
                    <article class="card__article">
                        <div class="card__image">
                            <img src="/pi_laravel/public/assets/img/Y02ljdBodKFBiziorYgqftLE.webp" alt="image" class="card__img">
                        </div>

                        <div class="card__data">
                            <h3 class="card__name">The last of us 2</h3>
                            <p class="card__description"> Por apenas: </p>
                            <p class="card__description card__preco"> 100 R$</p>
                        </div>
                    </article>
                </div>
                <div class="col">
                    <article class="card__article">
                        <div class="card__image">
                            <img src="/pi_laravel/public/assets/img/Y02ljdBodKFBiziorYgqftLE.webp" alt="image" class="card__img">
                        </div>

                        <div class="card__data">
                            <h3 class="card__name">The last of us 2</h3>
                            <p class="card__description"> Por apenas: </p>
                            <p class="card__description card__preco"> 100 R$</p>
                        </div>
                    </article>
                </div>
                <div class="col">
                    <article class="card__article">
                        <div class="card__image">
                            <img src="/pi_laravel/public/assets/img/Y02ljdBodKFBiziorYgqftLE.webp" alt="image" class="card__img">
                        </div>

                        <div class="card__data">
                            <h3 class="card__name">The last of us 2</h3>
                            <p class="card__description"> Por apenas: </p>
                            <p class="card__description card__preco"> 100 R$</p>
                        </div>
                    </article>
                </div>
                <div class="col">
                    <article class="card__article">
                        <div class="card__image">
                            <img src="/pi_laravel/public/assets/img/Y02ljdBodKFBiziorYgqftLE.webp" alt="image" class="card__img">
                        </div>

                        <div class="card__data">
                            <h3 class="card__name">The last of us 2</h3>
                            <p class="card__description"> Por apenas: </p>
                            <p class="card__description card__preco"> 100 R$</p>
                        </div>
                    </article>
                </div>
                <div class="col">
                    <article class="card__article">
                        <div class="card__image">
                            <img src="/pi_laravel/public/assets/img/Y02ljdBodKFBiziorYgqftLE.webp" alt="image" class="card__img">
                        </div>

                        <div class="card__data">
                            <h3 class="card__name">The last of us 2</h3>
                            <p class="card__description"> Por apenas: </p>
                            <p class="card__description card__preco"> 100 R$</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <!-- <div class="card__container"> -->


        <!-- ========================================= FOOTER ========================================= -->

        <footer>
            <div id="footer_content">
                <span style="margin-left: 150px;">
                    <img src="/pi_laravel/public/assets/img/43cf02eb-120a-417e-84c5-174bd52b128c-removebg-preview_1 (1).png" alt="">
                </span>

                <ul class="footer-list">
                    <li>
                        <h3>Sobre Nós</h3>
                    </li>

                    <li><a href="#" class="footer-link">Fale Conosco</a></li>
                    <li><a href="#" class="footer-link">Sobre o Delta</a></li>
                </ul>

                <ul class="footer-list">
                    <li>
                        <h3>Suporte</h3>
                    </li>

                    <li><a href="#" class="footer-link">Ajuda</a></li>
                    <li><a href="#" class="footer-link">Perguntas Frequentes</a></li>
                    <li><a href="#" class="footer-link">Política de Devolução</a></li>
                </ul>


                <ul class="footer-list">
                    <li>
                        <h3>Nossas Redes</h3>
                    </li>

                    <li id="redes">
                        <a href="#" class="footer-link" id="instagram"><i class='bx bxl-instagram-alt'></i></a>
                        <a href="#" class="footer-link" id="facebook"><i class='bx bxl-discord'></i></a>
                        <a href="#" class="footer-link" id="whatsapp"><i class='bx bxl-whatsapp'></i></a>
                    </li>
                </ul>

                <div id="footer_copyright">
                    <div>
                        &#169
                        2023 all rights reserved
                    </div>
                </div>
        </footer>

        <!-- ========================================= FOOTER END ========================================= -->


        <!--=============== BOOTSTRAP JS ===============-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="../assets/js/swiper-bundle.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="../assets/js/home.js"></script>
</body>

</html>